html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: auto ;
    padding: 4em ;
    max-width: 60em ;
    line-height: 1.35em ;
}

a {
    background: transparent
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

code {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1.5px solid #e0e0e0;
  background-color: #f8f8f8;
  border-radius: 3px;
  color: #00f ;
}

pre code {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  border: none;
  background: transparent;
}

pre {

}

blockquote {
    background-color: #eef ;
    padding: 0.5em ;
    margin-left: 0px ;
    margin-right: 0px ;
    border-left: 10px solid #dde ;
}
